<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="page2">
<form method="post" action="pizza_menu" class="center">
	<p class="page1"><h4>Please select the size of pizza you would like:</h4>
	<input type="radio" name="size" value="Small">Small: $7.00<br>
	<input type="radio" name="size" value="Medium">Medium: $9.50<br>
	<input type="radio" name="size" value="Large">Large: $12.00<br></p>

	<h4>Please select a crust:</h4>
	<input type="radio" name="crust" value="Flatbread">Flatbread<br>
	<input type="radio" name="crust" value="Deep dish">Deep Dish<br>
	<input type="radio" name="crust" value="Focaccia">Focaccia<br>
	<input type="radio" name="crust" value="Thin">Thin<br>
	<input type="radio" name="crust" value="Stuffed">Stuffed(cheese)<br>

	<h4>Please select the type of sauce:</h4>
	<input type="radio" name="sauce" value="Marinara">Marinara<br>
	<input type="radio" name="sauce" value="Pesto">Pesto<br>
	<input type="radio" name="sauce" value="Olive Oil">Olive Oil<br>
	<input type="radio" name="sauce" value="Hummus">Hummus<br>
	<input type="radio" name="sauce" value="No Sauce">No sauce<br>

	<h4>Please select the type of meat you would like:</h4>
	<input type="checkbox" name="meats[]" value="Sausage">Sausage<br>
	<input type="checkbox" name="meats[]" value="Pepperoni">Pepperoni<br>
	<input type="checkbox" name="meats[]" value="Ham">Ham<br>
	<input type="checkbox" name="meats[]" value="Bacon">Bacon<br>
	<input type="checkbox" name="meats[]" value="No Meat">No meat<br>

	<h4>Please select the type of vegetables:</h4>
	<input type="checkbox" name="veggies[]" value="Bell Peppers">Bell Peppers<br>
	<input type="checkbox" name="veggies[]" value="Banana Peppers">Banana Peppers<br>
	<input type="checkbox" name="veggies[]" value="Onion">Onions<br>
	<input type="checkbox" name="veggies[]" value="Spinach">Spinach<br>
	<input type="checkbox" name="veggies[]" value="No Vegetables">No Vegetables<br>

	<h4>Please select any extra toppings:</h4>
	<input type="checkbox" name="special_topping[]" value="Pineapple">Pineapple<br>
	<input type="checkbox" name="special_topping[]" value="Carrot">Carrot<br>
	<input type="checkbox" name="special_topping[]" value="Olives">Olives<br>
	<input type="checkbox" name="special_topping[]" value="Plantains">Plantains<br>
	<input type="checkbox" name="special_topping[]" value="Frog Legs">Frog Legs<br>
	<input type="checkbox" name="special_topping[]" value="No Extra Toppings">No Extra Toppings<br>

	<h4>Salads:</h4>
	<input type="checkbox" name="salad_type[]" value="Caesar">Caesar<br>
	<input type="checkbox" name="salad_type[]" value="Cobb">Cobb<br>
	<input type="checkbox" name="salad_type[]" value="The House">The House<br>
	<input type="checkbox" name="salad_type[]" value="Frog Leg">Frog Leg<br>
	<input type="checkbox" name="salad_type[]" value="Chicken">Chicken<br>
	<input type="checkbox" name="salad_type[]" value="No Salad">No Salad<br>

	<h4>Pasta:</h4>
	<input type="checkbox" name="pasta_type[]" value="Rigatoni">Rigatoni<br>
	<input type="checkbox" name="pasta_type[]" value="Tortellini">Tortellini<br>
	<input type="checkbox" name="pasta_type[]" value="Fettuccine">Fettuccine<br>
	<input type="checkbox" name="pasta_type[]" value="No Pasta">No Pasta<br>

	<h4>Beverages:</h4>
	<input type="checkbox" name="drink_choice[]" value="Sprite">Sprite<br>
	<input type="checkbox" name="drink_choice[]" value="Lemonade">Lemonade<br>
	<input type="checkbox" name="drink_choice[]" value="Coke">Coke<br>
	<input type="checkbox" name="drink_choice[]" value="No Drink">No Drink<br>

	<input type="submit">
</form>

</body>
</html>