<h4>Please select the size of pizza you would like:</h4>
<form method="post" action="build_pizza">
	<input type="radio" name="size" value="small">Small: $7.00<br>
	<input type="radio" name="size" value="medium">Medium: $9.50<br>
	<input type="radio" name="size" value="large">Large: $12.00<br>

	<h4>Please select a crust:</h4>
	<input type="radio" name="crust" value="flatbread">Flatbread<br>
	<input type="radio" name="crust" value="deep dish">Deep Dish<br>
	<input type="radio" name="crust" value="Focaccia">Focaccia<br>
	<input type="radio" name="crust" value="thin">Thin<br>
	<input type="radio" name="crust" value="stuffed">Stuffed(cheese)<br>


	<h4>Please select the type of sauce:</h4>
	<input type="radio" name="sauce" value="marinara">Marinara<br>
	<input type="radio" name="sauce" value="pesto">Pesto<br>
	<input type="radio" name="sauce" value="olive oil">Olive Oil<br>
	<input type="radio" name="sauce" value="hummus">Hummus<br>

	<h4>Please select the type of meat you would like:</h4>
	<input type="checkbox" name="meats" value="sausage">Sausage<br>
	<input type="checkbox" name="meats" value="pepperoni">Pepperoni<br>
	<input type="checkbox" name="meats" value="ham">Ham<br>
	<input type="checkbox" name="meats" value="bacon">Bacon<br>

	<h4>Please select the type of vegetables:</h4>
	<input type="checkbox" name="veggies" value="bell peppers">Bell Peppers<br>
	<input type="checkbox" name="veggies" value="banana peppers">Banana Peppers<br>
	<input type="checkbox" name="veggies" value="onion">Onions<br>
	<input type="checkbox" name="veggies" value="spinach">Spinach<br>

	<h4>Please select any extra toppings:</h4>
	<input type="checkbox" name="special_topping" value="pineapple">Pineapple<br>
	<input type="checkbox" name="special_topping" value="carrot">Carrot<br>
	<input type="checkbox" name="special_topping" value="olives">Olives<br>
	<input type="checkbox" name="special_topping" value="plantains">Plantains<br>
	<input type="checkbox" name="special_topping" value="frog legs">Frog Legs<br>
	<input type="checkbox" name="extra" value="cheese">Cheese<br>
	<input type="checkbox" name="extra" value="pepperoni">Pepperoni<br>
	<input type="checkbox" name="extra" value="bell peppers">Bell Peppers<br>
	<input type="checkbox" name="extra" value="Sausage">Sausage<br>

	<h5>Select "Next" to proceed</h5>
	<input type="submit" value="Next">

</form>