<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="page2">
<form method="post" action="pizza_menu" class="center">
	<h4>Please select the size of pizza you would like:</h4>
	<img src="/img/size.png" width="30" height="30"><input type="radio" name="size" value="Small">Small: $7.00<br>
	<img src="/img/size.png" width="38" height="35"><input type="radio" name="size" value="Medium">Medium: $9.50<br>
	<img src="/img/size.png" width="40" height="40"><input type="radio" name="size" value="Large">Large: $12.00<br></p>

	<h4>Please select a crust:</h4>
	<img src="/img/flatbread.png" width="40" height="40"><input type="radio" name="crust" value="Flatbread">Flatbread<br>
	<img src="/img/deepdish.png" width="50" height="30"><input type="radio" name="crust" value="Deep dish">Deep Dish<br>
	<img src="/img/Focaccia.png" width="30" height="30"><input type="radio" name="crust" value="Focaccia">Focaccia<br>
	<img src="/img/thin.png" width="50" height="30"><input type="radio" name="crust" value="Thin">Thin<br>
	<img src="/img/stuffedc.png" width="40" height="30"><input type="radio" name="crust" value="Stuffed">Stuffed(cheese)<br>

	<h4>Please select the type of sauce:</h4>
	<img src="/img/marinara.png" width="40" height="30"><input type="radio" name="sauce" value="Marinara">Marinara<br>
	<img src="/img/pesto.png" width="30" height="30"><input type="radio" name="sauce" value="Pesto"> Basil Pesto<br>
	<img src="/img/oliveoil.png" width="30" height="30"><input type="radio" name="sauce" value="Olive Oil">Olive Oil<br>
	<img src="/img/hummus.png" width="30" height="30"><input type="radio" name="sauce" value="Hummus">Hummus<br>
	<img src="/img/no.jpg" width="30" height="30"><input type="radio" name="sauce" value="No Sauce">No sauce<br>

	<h4>Please select the type of meat you would like:</h4>
	<img src="/img/sausage.png" width="50" height="50"><input type="checkbox" name="meats[]" value="Sausage">Sausage<br>
	<img src="/img/pepperoni.png" width="30" height="30"><input type="checkbox" name="meats[]" value="Pepperoni">Pepperoni<br>
	<img src="/img/ham.png" width="50" height="50"><input type="checkbox" name="meats[]" value="Ham">Ham<br>
	<img src="/img/bacon.png" width="60" height="50"><input type="checkbox" name="meats[]" value="Bacon">Bacon<br>
	<img src="/img/no.jpg" width="30" height="30"><input type="checkbox" name="meats[]" value="No Meat">No meat<br>

	<h4>Please select the type of vegetables:</h4>
	<img src="/img/bellpeppers.png" width="50" height="50"><input type="checkbox" name="veggies[]" value="Bell Peppers">Bell Peppers<br>
	<img src="/img/bananapeppers.png" width="50" height="50"><input type="checkbox" name="veggies[]" value="Banana Peppers">Banana Peppers<br>
	<img src="/img/onion.png" width="50" height="50"><input type="checkbox" name="veggies[]" value="Onion">Onions<br>
	<img src="/img/spinach.png" width="50" height="50"><input type="checkbox" name="veggies[]" value="Spinach">Spinach<br>
	<img src="/img/no.jpg" width="30" height="30"><input type="checkbox" name="veggies[]" value="No Vegetables">No Vegetables<br>

	<h4>Please select any extra toppings:</h4>
	<img src="/img/pineapple.png" width="60" height="40"><input type="checkbox" name="special_topping[]" value="Pineapple">Pineapple<br>
	<img src="/img/carrot.png" width="40" height="30"><input type="checkbox" name="special_topping[]" value="Carrot">Carrot<br>
	<img src="/img/olives.png" width="50" height="30"><input type="checkbox" name="special_topping[]" value="Olives">Olives<br>
	<img src="/img/plantains.png" width="40" height="30"><input type="checkbox" name="special_topping[]" value="Plantains">Plantains<br>
	<img src="/img/legs.png" width="40" height="30"><input type="checkbox" name="special_topping[]" value="Frog Legs">Frog Legs<br>
	<img src="/img/no.jpg" width="30" height="30"><input type="checkbox" name="special_topping[]" value="No Extra Toppings">No Extra Toppings<br>

	<h4>Salads:</h4>
	<img src="/img/caesar.png" width="50" height="50"><input type="checkbox" name="salad_type[]" value="Caesar">Caesar: $1.50<br>
	<img src="/img/cobb.png" width="50" height="50"><input type="checkbox" name="salad_type[]" value="Cobb">Cobb: $1.00<br>
	<img src="/img/thehouse.png" width="50" height="50"><input type="checkbox" name="salad_type[]" value="The House">The House: $1.00<br>
	<img src="/img/froglegsalad.gif" width="50" height="50"><input type="checkbox" name="salad_type[]" value="Frog Leg">Frog Leg: $3.00<br>
	<img src="/img/chicken.png" width="70" height="50"><input type="checkbox" name="salad_type[]" value="Chicken">Chicken: $2.50<br>
	<img src="/img/no.jpg" width="30" height="30"><input type="checkbox" name="salad_type[]" value="No Salad">No Salad<br>

	<h4>Pasta:</h4>
	<img src="/img/rigatoni.jpg" width="30" height="30"><input type="checkbox" name="pasta_type[]" value="Rigatoni">Rigatoni: $2.00<br>
	<img src="/img/tortellini.webp" width="50" height="50"><input type="checkbox" name="pasta_type[]" value="Tortellini">Tortellini: $2.50<br>
	<img src="/img/fettuccini.png" width="50" height="50"><input type="checkbox" name="pasta_type[]" value="Fettuccine">Fettuccine: $2.00<br>
	<img src="/img/no.jpg" width="30" height="30"><input type="checkbox" name="pasta_type[]" value="No Pasta">No Pasta<br>

	<h4>Beverages:</h4>
	<img src="/img/sprite.png" width="35" height="40"><input type="checkbox" name="drink_choice[]" value="Sprite">Sprite: $2.00<br>
	<img src="/img/lemonade.png" width="30" height="40"><input type="checkbox" name="drink_choice[]" value="Lemonade">Lemonade: $1.00<br>
	<img src="/img/coke.png" width="35" height="40"><input type="checkbox" name="drink_choice[]" value="Coke">Coke: $2.00<br>
	<img src="/img/no.jpg" width="30" height="30"><input type="checkbox" name="drink_choice[]" value="No Drink">No Drink<br>

	<input type="submit">
</form>

</body>
</html>