<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body class="contact">
		<address class="center padding">
			Written by <a href="/">The Pizza Man</a>.<br> 
			Visit us at: <br>
			Box 485, Whiterun<br>
			USA
		</address>
	</body>
</html>
