<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<address>
			Written by <a href="/contact">The Pizza Man</a>.<br> 
			Visit us at: <br>
			Box 564, Whiterun<br>
		s	USA
		</address>
	</body>
</html>
