<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="page4">
<form method="post" action="delivery_input" class="center shadow4">
	<h2 class="padding">Delivery</h2>
	<h3>Please enter your name and address in the textbox below:</h3>
	<h3>Address:</h3><input type="textbox" name="address" autofocus required>
	<h3>Name:</h3><input type="textbox" name="name" required>
	<input type="submit" value="Next">
</form>

<form method="post" action="no_delivery" class="center shadow4">
	<h2>For NO DELIVERY add your name in the textbox below and select "Continue"</h2>
	<input type="textbox" name="name" required>
	<input type="submit" value="Continue">
</form>
</body>
</html>