<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="delivery_input" class="center">
	<h2>Delivery</h2>
	<h4>Please enter your name and address in the textbox below:</h4>
	Address:<input type="textbox" name="address" autofocus required>
	Name:<input type="textbox" name="name" required>
	<input type="submit" value="Next">
</form>

<form method="post" action="no_delivery" class="center">
	<h2>For NO DELIVERY add your name in the textbox below and select "Continue"</h2>
	<input type="textbox" name="name" required>
	<input type="submit" value="Continue">
</form>
</body>
</html>