<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="page1">
<form method="post" action="pizza" class="center h1">
	<h1>Welcome to the Pizza Den!<br> Please select the "Enter" button to proceed to the pizza menu.</h1>
	<input type="submit" value="Enter">
</form>

</body>
</html>