<!DOCTYPE html>
<h1>Welcome to the Pizza Den</h1>
<h2>Please enter your name in below:</h2>
<form method="post" action="get_name" class="center">
	<input type="text" name="get_name" autofocus>
	<input type="submit" value="Continue">
</form>