<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<link rel="stylesheet" href = "css/style.css">
<body>
	<p class="head center"><b>The Pizza Den</b></p><br>
	<ul class="center">
		<li><a href="/menu">Menu</a></li>
		<li><a href="/delivery">Delivery</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</body>
		<%=yield%>	
	</div>
</html>
