<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<link rel="stylesheet" href = "css/style.css">
<body>
	<ul><div>
		<li><a href="/menu">Menu</a></li>
		<li><a href="/delivery">Delivery</a></li>
		<li><a href="/">
		<img src="/img/pizzasign.png" width="50" height="50"></a></li>
	</div></ul>
</body>
	<div>
		<%=yield%>	
	</div>
</html>