<form >
	<%if session[:wings] == "yes"%>
	<%else%>
	<%end%>
</form>



<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Please input the amount of pizzas you want:</h2>
	<input type="number" id="mynumber" value="1">
<script>
	function pizza_button(){
		var input = document.createElement('input');
		var number = document.getElementById('mynumber').value;
		document.getElementById('demo').innerHTML = number;
		input.required = true;
		input.number = 'number[]';
	}
</script>
	
<button onclick="pizza_button()">Continue</button>

<form>
	<p id="demo"></p>
</form>

</body>
</html> -->