li {
	display: inline;
	font-size: 1rem;
	padding-right: 2rem;
	text-align: left;
}

ul {
	text-align: right;
}

li a {
	color: #0059b3;
	background-color: green;
    color: white;
    padding: 25px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 6s;

}

@keyframes example {
    from {background-color: #00ffcc;}
    to {background-color: red;}
}

li a:hover {
	background-color: blue;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}*/

/*li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

.center {
	text-align: center;
}

p.head {
    border: 6px #ff3333;
    border-radius: 9px;
    border-style: dotted;
    height: 2rem;
    font-size: 2rem;
    font-style: italic;
    color: seagreen
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}


a:hover {
    color: red;
    font-size: 150%
}

.h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    font-style: oblique;
}

.page1 {
	background-image: url(/img/delivery.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.page2 {
	background-image: url(/img/pizzeriainside.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-shadow: 2px 2px 8px #ffffff;
	font-size: 150%

}

.page3 {
    background-image: url(/img/catpizza.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page4 {
    background-image: url(/img/pizzadone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.about {
    background-color: #99cc00
}

.contact {
     background-color: #99cc00
}

.padding {
    padding: 40px;
}

.shadow4 {
    text-shadow: 1px 1px 2px #0099ff, 0 0 1em #66ff99, 0 0 0.2em white;
    text-decoration: underline overline #80dfff;
    text-decoration: #00ffff wavy underline;
}

.shadow2 {
    text-shadow: #FC0 1px 0 10px;
}

.underline {
       text-decoration: #00ffff wavy underline;

}